@tailwind base;
@tailwind components;
@tailwind utilities;

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// --------------------------
// Color
// --------------------------

.bg-gradient-primary {
  background: linear-gradient(
    135deg,
    rgba(222, 161, 238, 1) 0%,
    rgba(222, 209, 238, 1) 8%,
    rgba(177, 219, 230, 1) 24%,
    rgba(240, 240, 240, 1) 32%,
    rgba(226, 227, 228, 1) 45%,
    rgba(165, 216, 232, 1) 60%,
    rgba(214, 210, 255, 1) 72%,
    rgba(227, 227, 227, 1) 82%,
    rgba(222, 159, 238, 1) 100%
  );
  background-image: linear-gradient(
    135deg,
    rgba(222, 161, 238, 1) 0%,
    rgba(222, 209, 238, 1) 8%,
    rgba(177, 219, 230, 1) 24%,
    rgba(240, 240, 240, 1) 32%,
    rgba(226, 227, 228, 1) 45%,
    rgba(165, 216, 232, 1) 60%,
    rgba(214, 210, 255, 1) 72%,
    rgba(227, 227, 227, 1) 82%,
    rgba(222, 159, 238, 1) 100%
  );
}

.bg-gradient-small {
  background: linear-gradient(
    135deg,
    rgba(222, 161, 238, 1) 0%,
    rgba(165, 216, 232, 1) 60%,
    rgba(222, 159, 238, 1) 100%
  );
  background-image: linear-gradient(
    135deg,
    rgba(222, 161, 238, 1) 0%,
    rgba(165, 216, 232, 1) 60%,
    rgba(222, 159, 238, 1) 100%
  );
}

.bg-gradient-dark {
  background: linear-gradient(135deg, #222 0%, #111 15%, #111 50%, #0a0a0a 100%);
}

// --------------------------
// Text & Font
// --------------------------

// Font

.montserrat {
  font-family: "Montserrat";
}

.poppins {
  font-family: "Poppins";
}

// Text Outline
.text-outline {
  color: transparent;
  -webkit-text-stroke-width: 1px;
}

// Vertical Text
.text-vertical {
  writing-mode: vertical-rl;
}

// Always Break Text
.break-always {
  word-spacing: 1000px;
}

// Full Calendar
.fc {
  width: 100%;
  height: 100%;

  .fc-list-empty {
    background-color: transparent;
  }

  .fc-list-day-cushion {
    background-color: #222;
    font-weight: 500;
  }

  .fc-list-event:hover * {
    background-color: #222 !important;
  }
}
