.moving-underline {
  display: inline-block;

  &::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: #fff;
    transition: width 0.3s;
  }

  &:hover::after {
    width: 100%;
  }

  &.active::after {
    width: 100%;
  }
}
